@using BusinessObjects
@using DocumentsWeb.Models
@using DocumentsWeb.Areas.Agents.Models
@using DocumentsWeb.Areas.Analitics.Models
@using DocumentsWeb.Controllers
@using DocumentsWeb.Areas.General.Models
@model ClientModel

<input type="hidden" id="StateId" name="StateId" value="@Model.StateId"/>
<input type="hidden" id="IsReadOnly" name="IsReadOnly" value="@Model.IsReadOnly"/>
<input type="hidden" id="ModelId" name="ModelId" value="@Model.ModelId"/>

<table style="width:600px;">
  

    <tr><td class="table_label">
            @Html.DevExpress().Label(s =>
                {
                    s.ControlStyle.CssClass = "label";
                    s.Text = "Наименование:";
                    s.AssociatedControlName = GlobalPropertyNames.Name;
                    s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.Name);
                }).GetHtml()
        </td><td>
                 @Html.DevExpress().TextBox(s =>
                     {
                         s.Name = GlobalPropertyNames.Name;
                         s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.Name);
                         s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                         s.Properties.ConvertEmptyStringToNull = true;
                         if (!s.ReadOnly)
                         {
                             s.Properties.NullText = "Введите наименование...";
                             s.Properties.NullTextStyle.ForeColor = System.Drawing.Color.Red;
                         }
                         s.ControlStyle.CssClass = "editor";
                         s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                         s.ShowModelErrors = true;
                         s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                         s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                     }).Bind(Model.Name).GetHtml()
             </td></tr>
        <tr><td class="table_label">
        @Html.DevExpress().Label(s =>
        {
            s.ControlStyle.CssClass = "label";
            //s.Style.Add("float", "left");
            s.Text = "Предприятие:";
            s.AssociatedControlName = GlobalPropertyNames.MyCompanyId;
            s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), "cmbMyCompanyId");
        }).GetHtml()
        </td><td>
         @Html.Partial("cmbMyCompanyPartial", Model)
        </td></tr>
        
        <tr><td class="table_label">
        @Html.DevExpress().Label(s =>
        {
            s.ControlStyle.CssClass = "label";
            s.Text = "Зав. складом:";
            s.AssociatedControlName = GlobalPropertyNames.StorekeeperId;
        }).GetHtml()
        </td><td>
        @Html.Partial("StorekeeperPartial", new ViewDataDictionary { 
            { "StorekeeperId", Model.StorekeeperId },
            { "MyCompanyId", Model.MyCompanyId },
            { "ReadOnly", Model.IsReadOnly | Model.IsSystem }
        })
        </td></tr>
    <tr><td class="table_label">
            @Html.DevExpress().Label(s =>
                {
                    s.ControlStyle.CssClass = "label";
                    s.Text = "Печать:";
                    s.ToolTip = "Полное наименование склада используется при печати некоторых отчетов";
                    s.AssociatedControlName = GlobalPropertyNames.NameFull;
                }).GetHtml()
        </td><td>
                 @Html.DevExpress().Memo(s =>
                     {
                         s.Name = GlobalPropertyNames.NameFull;
                         s.Properties.ConvertEmptyStringToNull = true;
                         s.ToolTip = "Полное наименование склада используется при печати некоторых отчетов";
                         s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                         if (!s.ReadOnly)
                         {
                             s.Properties.NullText = "Введите полное наименование...";
                         }
                         s.ControlStyle.CssClass = "editor";
                         s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                         s.ShowModelErrors = true;
                         s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                         s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                     }).Bind(Model.NameFull).GetHtml()
             </td></tr>
        
    <tr><td class="table_label\">
            @Html.DevExpress().Label(s =>
                {
                    s.ControlStyle.CssClass = "label";
                    s.Text = "Телефон:";
                    s.ToolTip = "Основной контактный телефон";
                    s.AssociatedControlName = GlobalPropertyNames.Phone;
                }).GetHtml()
        </td><td>
                 @Html.DevExpress().TextBox(s =>
                     {
                         s.Name = GlobalPropertyNames.Phone;
                         s.ToolTip = "Основной контактный телефон";
                         s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                         if (!s.ReadOnly)
                         {
                             s.Properties.NullText = "Введите телефон склада...";
                         }
                         s.ControlStyle.CssClass = "editor";
                         s.ShowModelErrors = true;
                         s.Properties.MaskSettings.Mask = "000-000-00-00";
                         s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                         s.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                         s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                         s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                     }).Bind(Model.Phone).GetHtml()
             </td></tr>
        
        

    <tr><td class="table_label">
            @Html.DevExpress().Label(s =>
                {
                    s.ControlStyle.CssClass = "label";
                    s.Text = "Фактический адрес:";
                    s.AssociatedControlName = GlobalPropertyNames.AddressPhysical;
                    s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.AddressPhysical);
                }).GetHtml()
        </td><td>
                 @Html.DevExpress().Memo(s =>
                     {
                         s.Name = GlobalPropertyNames.AddressPhysical;
                         s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                         if (!s.ReadOnly)
                         {
                             s.Properties.NullText = "Введите фактический адрес...";
                             s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.AddressPhysical);
                         }
                         s.ControlStyle.CssClass = "editor";
                         s.Height = 35;
                         s.ShowModelErrors = true;
                         s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                         s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                         s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                     }).Bind(Model.AddressPhysical).GetHtml()
             </td></tr>


    <tr><td class="table_label">
            @Html.DevExpress().Label(s =>
                {
                    s.ControlStyle.CssClass = "label";
                    s.Text = "Примечание:";
                    s.AssociatedControlName = GlobalPropertyNames.Memo;
                    s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.Memo);
                }).GetHtml()
        </td><td>
                 @Html.DevExpress().Memo(s =>
                     {
                         s.Name = GlobalPropertyNames.Memo;
                         s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                         if (!s.ReadOnly)
                         {
                             s.Properties.NullText = "Введите примечание или описание склада...";
                             s.ToolTip = AgentData.GetTooltip(Url.RequestContext.RouteData.Values["controller"].ToString(), GlobalPropertyNames.Memo);
                         }
                         s.ControlStyle.CssClass = "editor";
                         s.Height = 40;
                         s.ShowModelErrors = true;
                         s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                         s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                         s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                     }).Bind(Model.Memo).GetHtml()
             </td><tr>
</table>