@using DevExpress
@using DevExpress.Web
@using DevExpress.Utils
@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@using System.Web.UI.WebControls;
@using BusinessObjects;
@using DocumentsWeb.Areas.Ourp.Models;
@using Unit = System.Web.UI.WebControls.Unit
@model DocumentsWeb.Areas.Ourp.Models.EquipmentModel

<script type="text/javascript">
	$(document).ready(function () {
		Name.Focus();
	});
</script>

@{
	
				//List<Equipment> list = new List<Equipment>();
				//list = DocumentsWeb.Models.WADataProvider.WA.GetCollection<Equipment>().Where(w => w.KindId == Equipment.KINDVALUE_EQUIPMENT_ITEM && w.StateId != State.STATEDELETED).OrderByDescending(f => f.Code).ToList();
				//list = Chain<Equipment>.GetChainSourceList(eq, 110, State.STATEACTIVE).OrderByDescending(f => f.Code).ToList();


				//string modelcode = "";
				//int maxnom = 0;
				//if (string.IsNullOrEmpty(Model.Code))
				//{
				//    int parentid = 0;
				//    if (Model.ParentId == 0)
				//    {
				//        Equipment bufeq = DocumentsWeb.Models.WADataProvider.WA.GetObject<Equipment>(Model.Id);
				//        List<Equipment> buflist = Chain<Equipment>.DestinationList(bufeq, 110, State.STATEACTIVE);
				//        parentid = buflist[0].Id;
				//    }
				//    else
				//    {
				//        parentid = Model.ParentId;
				//    }

				//    Equipment eq = DocumentsWeb.Models.WADataProvider.WA.GetObject<Equipment>(parentid);
				//    List<Equipment> list = Chain<Equipment>.GetChainSourceList(eq, 110, State.STATEACTIVE).OrderByDescending(f => f.Code).ToList();
				//    if (list.Count > 0)
				//    {
				//        maxnom = int.Parse(string.IsNullOrEmpty(list[0].Code) ? "000" : list[0].Code);
				//        maxnom++;
				//    }
				//    modelcode = maxnom < 10 ? "00" + maxnom.ToString() : maxnom < 100 ? "0" : maxnom.ToString();
				//}
				//else
				//{
				//    modelcode = Model.Code;
				//}
}

<table style="width: 500px; height: 100%;">
    <tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Код:";
		   s.AssociatedControlName = GlobalPropertyNames.Code;
	   }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
	   {
		   s.Name = GlobalPropertyNames.Code;
		   s.ReadOnly = true;
		   s.ControlStyle.CssClass = "editor";
		   s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
	   }).Bind(Model.Code).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Наименование:";
		   s.AssociatedControlName = GlobalPropertyNames.Name;
	   }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
	   {
		   s.Name = GlobalPropertyNames.Name;
		   s.ReadOnly = Model.IsSystem | Model.IsReadOnly;
		   s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
		   s.ControlStyle.CssClass = "editor";
		   s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
	   }).Bind(Model.Name).GetHtml()
        </td>
    </tr>
	<tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Номер чертежа:";
		   s.AssociatedControlName = "DrawingNumber";
	   }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
	   {
		   s.Name = "DrawingNumber";
		   s.ReadOnly = Model.IsSystem | Model.IsReadOnly;
		   s.Width = Unit.Percentage(100);
		   s.ControlStyle.CssClass = "editor";
		   s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
	   }).Bind(Model.DrawingNumber).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Номер сборочного чертежа:";
		   s.AssociatedControlName = "DrawingAssemblayNumber";
	   }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
	   {
		   s.Name = "DrawingAssemblayNumber";
		   s.ReadOnly = Model.IsSystem | Model.IsReadOnly;
		   s.Width = Unit.Percentage(100);
		   s.ControlStyle.CssClass = "editor";
		   s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
	   }).Bind(Model.DrawingAssemblyNumber).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Вес:";
		   s.AssociatedControlName = "Weight";
	   }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().SpinEdit(s =>
	  {
		  s.Name = "Weight";
		  s.ControlStyle.CssClass = "editor";
		  s.Width = Unit.Percentage(100);
		  s.Style.Add("float", "left");
		  s.Properties.DisplayFormatString = "0.00";
		  s.Properties.MaxValue = 10000;
		  s.Properties.MinValue = 0;
	  }).Bind(Model.Weight).GetHtml()
        </td>
    </tr>
    <tr>
        <td style="width: 100px;">
            @Html.DevExpress().Label(s =>
	   {
		   s.ControlStyle.CssClass = "label";
		   s.Text = "Примечание:";
		   s.AssociatedControlName = GlobalPropertyNames.Memo;
	   }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().Memo(s =>
            {
                s.Name = GlobalPropertyNames.Memo;
                s.Properties.NullText = "Введите примечание или описание документа...";
                s.ControlStyle.CssClass = "editor";
                s.Height = System.Web.UI.WebControls.Unit.Pixel(40);
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
            }).Bind(Model.Memo).GetHtml()
        </td>
    </tr>
</table>