@using BusinessObjects
@using DocumentsWeb.Controllers
@using DocumentsWeb.Areas.General.Models
@using DocumentsWeb.Areas.Routes.Models
@model RouteMemberModel
           
@Html.DevExpress().PageControl(settings =>{
        settings.Name = "tsEditRouteMember";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.ClientSideEvents.Init = "OntsEditRouteMemberInit";
        settings.Styles.Content.CssClass = "tabcontent";    
        MVCxTabPage pageMain = settings.TabPages.Add("Главная");
        pageMain.SetContent(() =>
        {
            ViewContext.Writer.Write("<input type=\"hidden\" id=\"KindId\" name=\"KindId\" value=\"" + Model.KindId + "\" />");
            
            ViewContext.Writer.Write("<table style=\"width: 500px;\">");
            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>{
                s.ControlStyle.CssClass = "label";
                s.Text = "Наименование:";
                s.AssociatedControlName = GlobalPropertyNames.Name;
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().TextBox(s =>{
                s.Name = GlobalPropertyNames.Name;
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ShowModelErrors = true;
                s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                if(!s.ReadOnly)
                    s.Properties.NullText = "Введите наименование категории...";
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Name).GetHtml();
            ViewContext.Writer.Write("</td></tr>");

            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>{
                s.ControlStyle.CssClass = "label";
                s.Text = "Код:";
                s.AssociatedControlName = GlobalPropertyNames.Code;
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().TextBox(s =>{
                s.Name = GlobalPropertyNames.Code;
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ShowModelErrors = true;
                s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                if (!s.ReadOnly)
                    s.Properties.NullText = "Введите код категории...";
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Code).GetHtml();
            ViewContext.Writer.Write("</td></tr>");

            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Устройство:";
                s.AssociatedControlName = "DeviceId";
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().ComboBox(s =>
            {
                s.Name = "DeviceId";
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ShowModelErrors = true;
                s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                if (!s.ReadOnly)
                    s.Properties.NullDisplayText = "Введите наименование категории...";
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                s.Properties.ValueField = GlobalPropertyNames.Id;
                s.Properties.ValueType = typeof(int);
                s.Properties.TextField = GlobalPropertyNames.Name;
            }).BindList(DeviceModel.GetCollectionForCurrentUser()).Bind(Model.DeviceId == 0 ? (int?)null : Model.DeviceId).GetHtml();
            ViewContext.Writer.Write("</td></tr>");

            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Супервайзер:";
                s.AssociatedControlName = "SupervisorId";
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.RenderPartial("AgentPartial", Model.ManagerId, new ViewDataDictionary { { "Name", "SupervisorId" } });
            ViewContext.Writer.Write("</td></tr>");
            
            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Торговый представитель:";
                s.AssociatedControlName = "ManagerId";
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.RenderPartial("AgentPartial", Model.SupervisorId, new ViewDataDictionary { { "Name", "ManagerId" } });
            ViewContext.Writer.Write("</td></tr>");

            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Перевозчик:";
                s.AssociatedControlName = "ShippingId";
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.RenderPartial("AgentPartial", Model.ShippingId, new ViewDataDictionary { { "Name", "ShippingId" } });
            ViewContext.Writer.Write("</td></tr>");
            
            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>{
                s.ControlStyle.CssClass = "label";
                s.Text = "Описание:";
                s.AssociatedControlName = GlobalPropertyNames.Memo;
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().Memo(s =>{
                s.Name = GlobalPropertyNames.Memo;
                s.ReadOnly = Model.IsReadOnly | Model.IsSystem;
                if (!s.ReadOnly)
                    s.Properties.NullText = "Введите примечание или описание категории...";
                s.Properties.ConvertEmptyStringToNull = true;
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Height = 40;
                
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Memo).GetHtml();
            ViewContext.Writer.Write("</td></tr></table>");
        });

        MVCxTabPage hie = settings.TabPages.Add("Иерархия");
        hie.SetContent(() =>
        {
            CoreController<RouteMember> controller = (CoreController<RouteMember>)ViewContext.Controller;
            Html.RenderAction("GroupsControlPartial", new
            {
                Area = "General",
                Controller = "Hierarchy",
                RootList = HierarchyModel.GetLinkedHierarchies(controller.RootHierachy, HierarchyModel.EDIT_HIERARCHY_CHAIN).Select(s => s.Code).ToArray(),
                Model = Model,
                IsReadonly = Model.IsReadOnly
            });
        });

        MVCxTabPage prop = settings.TabPages.Add("Свойства");
        prop.Visible = DocumentsWeb.Models.WADataProvider.CommonRightView.AdminEnterprize;
        prop.SetContent(() =>
        {
            //ViewContext.Writer.Write("Prop");
            ViewContext.Writer.Write("<table style=\"width: 500px;\">");
            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Идентификатор:";
                s.AssociatedControlName = "txtId";
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "txtId";
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Enabled = false;
            }).Bind(Model.Id).GetHtml();
            ViewContext.Writer.Write("</td></tr>");

            ViewContext.Writer.Write("<tr><td class=\"table_label\">");
            @Html.DevExpress().Label(s =>
            {
                s.ControlStyle.CssClass = "label";
                s.Text = "Имя пользователя:";
                s.AssociatedControlName = GlobalPropertyNames.UserName;
            }).GetHtml();
            ViewContext.Writer.Write("</td><td>");
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = GlobalPropertyNames.UserName;
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Enabled = false;
            }).Bind(Model.UserName).GetHtml();
            ViewContext.Writer.Write("</td></tr></table>");
            //Html.RenderPartial("PagePropertiesPartial", Model);
        });
    }).GetHtml()