@using BusinessObjects
@using BusinessObjects.Security
@using DocumentsWeb.Models
@model UserModel
@{
    Uid uid = Model.ToObject(WADataProvider.WA);
    List<UserRightCommon> collRights = uid.Workarea.Access.GetCollectionUserRights(Right.KINDID_GENERALE, uid.Id);
    List<IChainAdvanced<Uid, Agent>> collectionRuleset = uid.GetLinkedAgents().Where(s=>s.RightId!=-1).ToList();
    
}
@Html.DevExpress().Label(settings=>
                {
                    settings.Text = "Общие разрешения:";
                    settings.Properties.Style.Font.Bold = true;
                    
                }).GetHtml()
@if (collRights.Count > 0)
{
    <ul>
        @foreach (UserRightCommon grp in collRights)
        {
            <li>
                @grp.Right.Name
            </li>
        }
    </ul>
}
else
{
    @Html.DevExpress().Label(settings =>
    {
        settings.Text = "Не заданы";
        settings.Properties.Style.Font.Bold = true;

    }).GetHtml()   
    <br /> 
}
@Html.DevExpress().Label(settings =>
{
    settings.Text = "Области действия:";
    settings.Properties.Style.Font.Bold = true;

}).GetHtml()

<ul>
    @foreach (IChainAdvanced<Uid, Agent> grp in collectionRuleset.OrderBy(s => s.Kind.Name + s.Right.Name))
    {
        <li>
            <b>@grp.Kind.Name: </b> @grp.Right.Name 
        </li>
    }
</ul>

<table class="edit_form_table2">
    <tr>
        <td>
            
        </td>    
    </tr>
    
</table>
@*<table class="edit_form_table2">
    
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(settings=>
                                   {
                                       settings.Text = "Дата изменения:";
                                       settings.AssociatedControlName = GlobalPropertyNames.DateModified;
                                   }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Name = GlobalPropertyNames.DateModified;
                                       settings.Properties.Style.Font.Bold = true;
                                   }).Bind(Model.DateModified).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(settings=>
                                   {
                                       settings.Text = "Пользователь:";
                                       settings.AssociatedControlName = GlobalPropertyNames.UserName;
                                   }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Name = GlobalPropertyNames.UserName;
                                       settings.Properties.Style.Font.Bold = true;
                                       settings.Properties.Style.ForeColor = string.IsNullOrEmpty(Model.UserName) ? System.Drawing.Color.Red : settings.Properties.Style.ForeColor;
                                   }).Bind(string.IsNullOrEmpty(Model.UserName) ? "<Данные отсутствуют!>" : Model.UserName).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(settings=>
                                   {
                                       settings.Text = "Компания-владелец:";
                                       settings.AssociatedControlName = "txtMyCompanyName";
                                   }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Name = "txtMyCompanyName";
                                       settings.Properties.Style.Font.Bold = true;
                                   }).Bind(Model.MyCompanyName).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(settings=>
                                   {
                                       settings.Text = "Текущее состояние:";
                                       settings.AssociatedControlName = "txtStateName";
                                   }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Name = "txtStateName";
                                       settings.Properties.Style.Font.Bold = true;
                                   }).Bind(Model.StateName).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(settings=>
                                   {
                                       settings.Text = "Атрибуты:";
                                       settings.AssociatedControlName = "txtFlagsValueString";
                                   }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().Label(settings =>
                                   {
                                       settings.Name = "txtFlagsValueString";
                                       settings.Properties.Style.Font.Bold = false;
                                       settings.Properties.Style.ForeColor = !string.IsNullOrEmpty(Model.FlagsValueString()) ? System.Drawing.Color.Red : settings.Properties.Style.ForeColor;
                                   }).Bind(string.IsNullOrEmpty(Model.FlagsValueString()) ? "<Дополнительные флаги не установлены!>" : Model.FlagsValueString()).GetHtml() 
        </td>
    </tr>
</table>*@
                                           


