@using System.Web.UI.WebControls
@using Stimulsoft.Report.Mvc

@{
    ViewBag.Title = "Отчет о пропущенных заданиях";
    //Layout = "~/Views/Shared/_LayoutPrintForms.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.StiMvcViewerFxRenderScripts()
<script type="text/javascript">
    $(document).ready(function () {
        $("#contentTable").height($(window).innerHeight() - 20);
        $(window).resize(function () {
            $("#contentTable").height($(window).innerHeight() - 20);
        });
    });
</script>

<table id="contentTable" style="width: 100%; height:100%; border: 1px solid black;">
    <tr>
        <td>
        @using (Html.BeginForm("RouteSkippingTasksSubmit", "Reports", FormMethod.Post, new { @class = "edit_form", @id = "editForm" }))
        { 
            <table>
                <tr>
                    <td>
                        @Html.DevExpress().Label(p =>
                        {
                            p.Text = "Дата:";
                            p.AssociatedControlName = "DateValue";
                        }).GetHtml()
                        @Html.DevExpress().DateEdit(p =>
                        {
                            p.Name = "DateValue";
                            p.Date = DateTime.Now;
                        }).Bind(this.Session["RouteSkippingTasks_Date"] == null ? DateTime.Now : (DateTime?)this.Session["RouteSkippingTasks_Date"]).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().Label(p =>
                        {
                            p.Text = "Автомобиль:";
                            p.AssociatedControlName = "AutoValue";
                        }).GetHtml()
                        @Html.DevExpress().ComboBox(p =>
                        {
                            p.Name = "AutoValue";
                            p.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                            p.Properties.ValueField = "Id";
                            p.Properties.TextField = "Name";
                            p.Properties.ValueType = typeof(int);
                            //p.Properties.ClientSideEvents.Init = "function(s, e) { PlanValue.PerformCallback(); }";
                            p.Properties.ClientSideEvents.ValueChanged = "function(s, e) { PlanValue.PerformCallback(); }";
                        }).BindList(DocumentsWeb.Areas.Routes.Models.RouteMemberModel.GetCollection()).Bind(this.Session["RouteSkippingTasks_Auto"]).GetHtml()
                    </td>
                    <td>
                        @Html.DevExpress().Label(p =>
                        {
                            p.Text = "План:";
                            p.AssociatedControlName = "PlanValue";
                        }).GetHtml()
                        @Html.Partial("RouteSkippingTasksPlanPartial")
                    </td>
                    <td style="vertical-align: bottom;">
                        @Html.DevExpress().Button(p => {
                            p.Name = "btnSubmit";
                            p.Text = "Построить";
                            p.UseSubmitBehavior = true;
                        }).GetHtml()
                    </td>
                </tr>
            </table>
        }
        </td>
    </tr>
    <tr>
        <td valign="top" style="width: 100%; height: 100%;">
            @Html.Partial("RouteSkippingTasksPartial")
        </td>
    </tr>
</table>