@model DocumentsWeb.Areas.Finances.Models.DocumentFinanceModel
@using BusinessObjects
@using DocumentsWeb.Models
@using DocumentsWeb.Areas.Analitics.Models

<input type="hidden" id="Name" name="Name" value="@Model.Name"/>
<input type="hidden" id="StateId" name="StateId" value="@Model.StateId"/>
<input type="hidden" id="IsReadOnly" name="IsReadOnly" value="@Model.IsReadOnly"/>
<input type="hidden" id="ModelId" name="ModelId" value="@Model.ModelId"/>

<table class="edit_form_table2">
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Дата:";
                s.ToolTip = "Дата документа - фактическое отражение факта времени документа в учетной системе";
                s.AssociatedControlName = "date";
            }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "date";
                s.ToolTip = "Дата документа - фактическое отражение факта времени документа в учетной системе";
                s.Properties.NullText = "Введите дату...";
                //s.ControlStyle.CssClass = "editor";
                s.Width = 100;
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Date).GetHtml()
        </td>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Номер:";
                s.ToolTip = "Номер документа - присваивается автоматически, если оставить пустым или укажите вручную";
                s.Style.Add("float", "left");
                s.AssociatedControlName = GlobalPropertyNames.DocNumber;
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Properties.Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = GlobalPropertyNames.DocNumber;
                s.ToolTip = "Номер документа - присваивается автоматически, если оставить пустым или укажите вручную";
                s.Properties.NullText = "Введите номер документа...";
                //s.ControlStyle.CssClass = "editor";
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.DocNumber).GetHtml()
        </td>
    </tr>

    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Предприятие:";
                s.ToolTip = "Выберите из списка доступных компаний, данные являются обязательными при заполнении документа! Список компаний от лица которых регистрируется документ может отличатся от списка доступных для просмотра компаний";
                s.AssociatedControlName = GlobalPropertyNames.MainCompanyDepatmentId;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.DevExpress().ComboBox(s =>
            {
                s.Name = GlobalPropertyNames.MainCompanyDepatmentId;
                s.ToolTip = "Выберите из списка доступных компаний, данные являются обязательными при заполнении документа! Список компаний от лица которых регистрируется документ может отличатся от списка доступных для просмотра компаний";
                s.Properties.ValueField = GlobalPropertyNames.Id;
                s.Properties.TextField = GlobalPropertyNames.Name;
                s.Properties.ValueType = typeof(int);
                s.Properties.NullDisplayText = "Выберите наше предприяте...";
                //s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
                s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                s.Properties.ClientSideEvents.SelectedIndexChanged = "AgentToId_Changed";
                s.ReadOnly = Model.IsReadOnly;
            }).BindList(DocumentModel.GetMyDepatmentsForDocumet(Model.MainCompanyDepatmentId)).Bind(Model.MainCompanyDepatmentId).GetHtml()
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Счет:";
                s.ToolTip = "Выберите расчетный счет из списка доступных р./с. Данные зависят от выбранного предприятия от лица которого регестрируется документ в системе";
                s.AssociatedControlName = "MainCompanyAccountId";
            }).GetHtml()
        </td>
        <td colspan="5"> 
            @Html.Partial("BankAccToPartial", Model, new ViewDataDictionary { { GlobalPropertyNames.MainCompanyDepatmentId, Model.MainCompanyDepatmentId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Контрагент:";
                s.ToolTip = "Выберите контрагента. Можете использовать варианты ввода: быстрый поиск или выбор из списка";
                s.AssociatedControlName = GlobalPropertyNames.MainClientDepatmentId;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.Partial("AgentFromPartial", Model, new ViewDataDictionary { { GlobalPropertyNames.MainCompanyDepatmentId, Model.MainCompanyDepatmentId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Счет:";
                s.ToolTip = "Выберите расчетный счет из списка доступных р./с. Данные зависят от выбранного контрагента на которого создается документ в системе";
                s.AssociatedControlName = "MainClientAccountId";
            }).GetHtml()
        </td>
        <td colspan="5"> 
            @Html.Partial("BankAccFromPartial", Model, new ViewDataDictionary { { GlobalPropertyNames.MainClientDepatmentId, Model.MainClientDepatmentId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Тип платежа:";
                s.ToolTip = "Выберите тип платежа из списка доступных. В дальнейшем в зависимости от типа платежа можно провести соответствующий анализ";
                s.AssociatedControlName = "PaymentId";
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.DevExpress().ComboBox(s =>
            {
                s.Name = "PaymentId";
                s.ToolTip = "Выберите тип платежа из списка доступных. В дальнейшем в зависимости от типа платежа можно провести соответствующий анализ";
                s.Properties.ValueField = GlobalPropertyNames.Id;
                s.Properties.EnableClientSideAPI = true;
                s.Properties.TextField = GlobalPropertyNames.Name;
                s.Properties.ValueType = typeof(int);
                s.Properties.NullDisplayText = "Укажите тип платежа...";
                //s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
                s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                s.ReadOnly = Model.IsReadOnly;
            }).BindList(AnaliticModel.GetCollectionWONested(Hierarchy.SYSTEM_ANALITIC_PAYMENTTYPEIN)).Bind(Model.PaymentTypeId == 0 ? null : (int?)Model.PaymentTypeId).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Сумма:";
                s.AssociatedControlName  = GlobalPropertyNames.DocSumma;
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Properties.DisplayFormatString = "0.00";
            }).GetHtml()
        </td>
        <td colspan="5">
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = GlobalPropertyNames.DocSumma;
                s.Properties.NullText = "";
                s.ReadOnly = true;
                s.ShowModelErrors = true;
                s.Properties.DisplayFormatString = "0.00";
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.DocSumma).GetHtml()
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Описание:";
                s.ToolTip = "Введите примечание или описание документа...";
                s.AssociatedControlName = GlobalPropertyNames.Memo;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.DevExpress().Memo(s =>
            {
                s.Name = GlobalPropertyNames.Memo;
                s.ToolTip = "Введите примечание или описание документа...";
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Memo).GetHtml()
        </td>
    </tr>
</table>