@model DocumentsWeb.Areas.Prices.Models.DocumentPriceListModel
@using BusinessObjects
@using DocumentsWeb.Models
@using System.Linq

<input type="hidden" id="Name" name="Name" value="@Model.Name"/>
<input type="hidden" id="StateId" name="StateId" value="@Model.StateId"/>
<input type="hidden" id="IsReadOnly" name="IsReadOnly" value="@Model.IsReadOnly"/>
<input type="hidden" id="ModelId" name="ModelId" value="@Model.ModelId"/>

<table class="edit_form_table2">
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Дата:";
                s.AssociatedControlName = "date";
            }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "date";
                s.Properties.NullText = "Введите дату...";
                s.Width = 100;
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Date).GetHtml()
        </td>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Номер:";
                s.Style.Add("float", "left");
                s.AssociatedControlName = GlobalPropertyNames.DocNumber;
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Properties.Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            }).GetHtml()
        </td>
        <td>                       
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = GlobalPropertyNames.DocNumber;
                s.Properties.NullText = "Введите номер документа...";
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.DocNumber).GetHtml()
        </td>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Прайс:";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Properties.Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
                s.AssociatedControlName = "PrcNameId";
            }).GetHtml()
        </td>
        <td>                       
            @Html.Partial("PriceNamePartial", Model, new ViewDataDictionary { { "MyCompanyId", Model.MyCompanyId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Действует с:";
                s.AssociatedControlName = "DateStart";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "DateStart";
                s.Properties.NullText = "Введите дату...";
                s.Width = 100;
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.DateStart).GetHtml()
        </td>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "по:";
                s.AssociatedControlName = "DateExpire";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Properties.Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "DateExpire";
                s.Properties.NullText = "Введите дату...";
                s.Width = 100;
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.DateExpire).GetHtml()
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Предприятие:";
                s.AssociatedControlName = "MyCompanyId";
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.DevExpress().ComboBox(s =>
            {
                s.Name = "MyCompanyId";
                s.Properties.ValueField = GlobalPropertyNames.Id;
                s.Properties.TextField = GlobalPropertyNames.Name;
                s.Properties.ValueType = typeof(int);
                s.Properties.NullDisplayText = "Выберите наше предприяте...";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
                s.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                s.ShowModelErrors = true;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                s.Properties.ClientSideEvents.SelectedIndexChanged = "MyCompanyId_Changed";
                s.ReadOnly = Model.IsReadOnly;
            }).BindList(DocumentModel.GetMyDepatmentsForDocumet(Model.MyCompanyId)).Bind(Model.MyCompanyId == 0 ? null : (int?)Model.MyCompanyId).GetHtml() 
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Контрагент кто:";
                s.AssociatedControlName = GlobalPropertyNames.MainClientDepatmentId;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.Partial("AgentFromPartial", Model, new ViewDataDictionary { { "MyCompanyId", Model.MyCompanyId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                //s.ControlStyle.CssClass = "label";
                s.Text = "Контрагент кому:";
                s.AssociatedControlName = GlobalPropertyNames.MainCompanyDepatmentId;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.Partial("AgentToPartial", Model, new ViewDataDictionary { { "MyCompanyId", Model.MyCompanyId } })
        </td>
    </tr>
    <tr>
        <td class="table_label">
            @Html.DevExpress().Label(s =>
            {
                s.Text = "Описание:";
                s.AssociatedControlName = GlobalPropertyNames.Memo;
            }).GetHtml()
        </td>
        <td colspan="5">                       
            @Html.DevExpress().Memo(s =>
            {
                s.Name = GlobalPropertyNames.Memo;
                s.Properties.NullText = "Введите примечание или описание документа...";
                s.ControlStyle.CssClass = "editor";
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.ClientEnabled = !Model.IsReadOnly;
                s.ShowModelErrors = true;
                s.Height = !string.IsNullOrEmpty(Model.Memo) && Model.Memo.Length > 255 ? 80 : 40;
                s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                s.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
            }).Bind(Model.Memo).GetHtml()
        </td>
    </tr>
</table>