@using BusinessObjects
@using BusinessObjects.Security
@using BusinessObjects.Web.Core
@using DevExpress.Web.ASPxDocking
@using DocumentsWeb.Models
@using Unit = System.Web.UI.WebControls.Unit
@{
    string gridStyle = "dxgvControl_" + Utils.CurrentTheme;
    bool IsNoNdsAllow = WADataProvider.IsUserCompanyHasNoNds();
    string helpDefaultLink = string.Empty;
    if (ViewData.ContainsKey("HelpDefaultLink"))
    {
        helpDefaultLink = ViewData["HelpDefaultLink"].ToString();
    }
}
@Html.DevExpress().DockManager(
                                settings => {
                                                settings.Name = "dockManager";
                                                //settings.ClientSideEvents.PanelShown = "function(s, e) { SetWidgetButtonVisible(e.panel.panelUID, false) }";
                                                //settings.ClientSideEvents.PanelCloseUp = "function(s, e) { SetWidgetButtonVisible(e.panel.panelUID, true) }";
                                                //settings.SaveStateToCookies = true;
                                                //settings.SaveStateToCookiesID = "ServiceArea_Home";
                                }
                                 ).GetHtml()
<table style="height: 100%;width:100%; border:0; border-spacing:0;">
    <tr>
        @*<td align ="left" valign ="top" style="border-right: 3px solid #FFF; width:250px;">*@
            <td align ="left" valign ="top" style="border-right: 3px solid @gridStyle; width:250px;" class="@gridStyle">
            @Html.Partial("ActionsPartial", DocumentsWeb.Code.HomePageSection.GetCollectionServices(true), new ViewDataDictionary { { "SettingsName", "ServicesNdsHome" }, { "GroupNumber", 3 } })
        </td>

        <td align ="left" valign ="top" >
            <table style="width: 100%;">
                <tr>
                    <td valign="middle" align="center" style="font-size: 14pt;">
                        <b>Управление услугами</b>
                        @Html.DevExpress().HyperLink(s =>
                                       {
                                           s.ToolTip = "Показать справочную информацию";
                                           s.Properties.ImageUrl = "~/Images/INFO_X16.png";
                                           if (string.IsNullOrEmpty(helpDefaultLink))
                                               s.NavigateUrl = "javascript:alert('Справочная информация отсутствует!');";
                                           else
                                           {
                                               s.Properties.Target = "_blank";
                                               s.NavigateUrl = helpDefaultLink.StartsWith("~/") ? Url.Content(helpDefaultLink) : helpDefaultLink;
                                           }
                                       }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Cоздание документов предприятия связянные с оказанием и получением услуг. Набор документов позволяет работать с документами: "Акт приема/передачи работ", "Входящие/исходящие счета", "Входящие/исходящие заказы"</p>
                        <p>Раздел предназначен <b>для предприятий являющихся плательщиками НДС.</b> 
                        Для просмотра и создания налоговых накладных используйте раздел
                                                               
                                                               @Html.DevExpress().HyperLink(s =>
                           {
                               s.Name = "lnkTaxe";
                               s.NavigateUrl = "~/Taxes/Home/";
                               s.Properties.Text = "\"Налоговые накладные\"";
                               s.ToolTip = "Перейти в раздел \"Налоговые накладные\"";
                               s.Enabled = (WADataProvider.LibrariesElementRightView.IsAllow(Right.VIEW, WebModuleNames.WEB_DOCTAX) || User.IsInRole(Uid.GROUP_GROUPWEBADMIN));
                               s.ClientEnabled = s.Enabled;
                           }).GetHtml().
                            <br />Если Ваше предприятие не является плательшиком НДС используйте раздел
                        @Html.DevExpress().HyperLink(s =>
                        {
                            s.Name = "lnkServices";
                            s.NavigateUrl = "~/Services/Home/";
                            s.Properties.Text = "\"Управление услугами не плательщиками НДС\"";
                            s.ToolTip = "Перейти в раздел \"Управление услугами не плательщиками НДС\"";
                            s.Enabled = (WADataProvider.LibrariesElementRightView.IsAllow(Right.VIEW, WebModuleNames.WEB_DOCSERVICE) || User.IsInRole(Uid.GROUP_GROUPWEBADMIN)) & IsNoNdsAllow;
                            s.ClientEnabled = s.Enabled;
                        }).GetHtml()
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%">
                            @Html.DevExpress().DockZone(
        settings => {
                        settings.Name = "dockZone1";
                        settings.ZoneUID = "leftZone";
                        settings.ControlStyle.CssClass = "leftZone";
                        settings.Width = Unit.Percentage(49);
                        settings.PanelSpacing = 3;
        }
         ).GetHtml()

    @Html.DevExpress().DockZone(
        settings => {
                        settings.Name = "dockZone2";
                        settings.ZoneUID = "rightZone";
                        settings.ControlStyle.CssClass = "rightZone";
                        settings.Width = Unit.Percentage(49); 
                        settings.PanelSpacing = 3;
        }
         ).GetHtml() 
                    </td>
                </tr>
            </table>
        </td>

        <td valign="top" style="border-left: 3px solid @gridStyle; width:250px;" class="@gridStyle" >
            @Html.Partial("ReportsPartial")
        </td>
    </tr>
</table>        

@Html.DevExpress().DockPanel(
    settings => {
                    settings.Name = "rpServiceAccountOut";
                    settings.PanelUID = "UIDServiceAccountOut";
                    settings.CallbackRouteValues = new { Controller = "Home", Action = "ViewBoardAccountOutPartial" };
                    settings.OwnerZoneUID = "leftZone";
                    settings.HeaderText = "Исходящие счета";
                    settings.VisibleIndex = 0;
                    settings.ShowCloseButton = false;
                    settings.SaveStateToCookies = true;
                    settings.SaveStateToCookiesID = "HomePageServiceNdsCoocies" + settings.PanelUID;
                    settings.LoadContentViaCallback = LoadPanelContentViaCallback.None;
                    settings.ShowOnPageLoad = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_OUT_ACCOUNT_NDS).Id);
                    settings.Enabled = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_OUT_ACCOUNT_NDS).Id);
                    settings.SetContent(() => ViewContext.Writer.Write(Html.Partial("ViewBoardAccountOutPartial")));
                    settings.Styles.Content.Paddings.Padding = 0;
    }
        ).GetHtml()

@Html.DevExpress().DockPanel(
settings => {
                settings.Name = "rpServiceAccountIn";
                settings.PanelUID = "UIDServiceAccountIn";
                settings.CallbackRouteValues = new { Controller = "Home", Action = "ViewBoardAccountInPartial" };
                settings.OwnerZoneUID = "rightZone";
                settings.HeaderText = "Входящие счета";
                settings.VisibleIndex = 0;
                settings.ShowCloseButton = false;
                settings.SaveStateToCookies = true;
                settings.SaveStateToCookiesID = "HomePageServiceNdsCoocies" + settings.PanelUID;
                settings.ShowOnPageLoad = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_IN_ACCOUNT_NDS).Id);
                settings.Enabled = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_IN_ACCOUNT_NDS).Id);
                settings.SetContent(() => @Html.RenderPartial("ViewBoardAccountInPartial"));
                settings.Styles.Content.Paddings.Padding = 0;
}
    ).GetHtml()
        
@Html.DevExpress().DockPanel(
settings => {
settings.Name = "rpServiceIn";
        settings.PanelUID = "UIDServiceIn";
        settings.OwnerZoneUID = "leftZone";
        settings.CallbackRouteValues = new { Controller = "Home", Action = "ViewBoardInPartial" };
        settings.HeaderText = "Входящие акты приема/передачи";
        settings.AllowResize = true;
        settings.VisibleIndex = 1;
        settings.ShowCloseButton = false;
        settings.SaveStateToCookies = true;
        settings.SaveStateToCookiesID = "HomePageServiceNdsCoocies" + settings.PanelUID;
        settings.ShowOnPageLoad = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_IN_NDS).Id);
        settings.Enabled = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_IN_NDS).Id);
        settings.SetContent(() => @Html.RenderPartial("ViewBoardInPartial"));
        settings.Styles.Content.Paddings.Padding = 0;
}
).GetHtml()

@Html.DevExpress().DockPanel(
settings => {
    settings.Name = "rpServiceOut";
                settings.PanelUID = "UIDServiceOut";
                settings.OwnerZoneUID = "rightZone";
                settings.CallbackRouteValues = new { Controller = "Home", Action = "ViewBoardOutPartial" };
                settings.HeaderText = "Исходящие акты приема/передачи работ";
                settings.VisibleIndex = 1;
                settings.ShowCloseButton = false;
                settings.SaveStateToCookies = true;
                settings.SaveStateToCookiesID = "HomePageServiceNdsCoocies" + settings.PanelUID;
                settings.ShowOnPageLoad = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_OUT_NDS).Id);
                settings.Enabled = WADataProvider.FolderElementRightView.IsAllow(Right.DOCVIEW, WADataProvider.WA.GetFolderByCodeFind(Folder.CODE_FIND_SERVICE_OUT_NDS).Id);
                settings.SetContent(() => @Html.RenderPartial("ViewBoardOutPartial"));
                settings.Styles.Content.Paddings.Padding = 0;
}
            ).GetHtml()
                                 